*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;

}

/* body{
    overflow: hidden;
    background: #fafafa;
    background: url('./assets/images/beautyimg4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */